<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="title"><%= pageTitle %></h1>
    <form action="/new">
      <button class="add-message" type="submit"> Put Your Thoughts on the Board </button>
    </form>
    

    <div>
      <ul class = "message-list">
        
          <% for(let i=0; i<messages.length;i++){ %>
          <div class="message">
            <li class = "message-text"> 
              <%= messages[i].name %> says:<br><br>
              <%= messages[i].text %><br><br>
              <%= messages[i].date %>
            </li>
          </div>
          <% }%>
       
      </ul>
    </div>
  </body>

  <footer class="footer">Website by Tmullin6. Check out my other work on <a href="https://github.com/tmullin6">Github</a> </footer>
</html>
